{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>D'avila CRM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="container py-4">
                <header class="pb-3 mb-4 border-bottom">
                    <div class="container">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li><a class="nav-link px-2 link-body-emphasis" href="{% url 'home' %}">Home</a></li>
                            </ul>
                            <div class="text-end">
                                <ul class="nav">
                                    {% if request.user.is_authenticated %}
                                        <a class="nav-link px-2 link-body-emphasis" href="{% url 'logout' %}">Logout</a>
                                    {% else %}
                                        <a class="nav-link px-2 link-body-emphasis" href="{% url 'login' %}">Login</a>
                                        <a class="nav-link px-2 link-body-emphasis" href="#">Sign-up</a>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>    
                {% block content %}
                {% endblock %}
            </div>
            <footer class="container">
                <p>&copy; 2023 - 2024</p>
            </footer>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>

