{% extends "app/base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">D'avila Events Planning &amp; Decor</h1>
        <p class="col-md-8 fs-4">
        Hi, I'm Elizabeth Rios and it's so nice to meet you! Here in D'avila we create
        beautiful flower bouquets, we help you plan special events and not to say the least,
        we make your experience memorable! With us, you'll enjoy your event.
        </p>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Events</h2>
                <p></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Decor</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
